body{
    background-color: #ecdfdf;
}

a{
    text-decoration: none;
}


fieldset{
    font-size: 25px;
    box-shadow: 10px 5px 5px rgb(130, 139, 139);
}
/* -------------------- Connexion.php -------------------- */

.logo_connexion{
transform: translateX(50%)translateY(-20%);
width: 50%;
height: 50%;
position: absolute;

}


.connexion{
    background-color: blanchedalmond;
    border-radius: 1em;
    border: solid 3px;
    width: 30%;
    height: 40%;
    position: relative;
    top: 60%;
    left: 50%;
   transform: translateX(-50%)translateY(-50%);
   align-items: center;
   min-width: 40%;
   min-height: 30%;
}

.connexion fieldset{
    min-width: 40%;
    min-height: 30%;
}

.bouton {
    background-color: blue;
    border-radius: 10px;
    border: 4px double #cccccc;
    color: #eeeeee;
    text-align: center;
    font-size: 30px;
    padding: 3px;
    width: 50%;
    transition: all 0.5s;
    cursor: pointer;
    margin: 0px;
    transform: translateX(50%)translateY(-0%);
}

.bouton:hover {
    background-color: #f7c2f9;
    color: black;
}


/* -------------------- Inscription -------------------- */

.inscription{
    background-color: blanchedalmond;
    border-radius: 1em;
    border: solid 3px;
    width: 30%;
    height: 50%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translateX(-50%)translateY(-50%);
    text-align: right;
}

.inscription input{
    text-align: center;
    width: 80%;
    padding: 12px;
    border: 1px solid ;
    border-radius: 4px;
    margin-top: 10px;
    margin-bottom: 14px;
    font-size: 100%;
}

.inscription input[type=submit]{
    transform: translateX(-10%);
    text-align: center;
}

.bouton2 {
    background-color: rebeccapurple;
    border-radius: 10px;
    border: 4px double #cccccc;
    color: #eeeeee;
    padding: 3px;
    width: 100%;
    transition: all 0.5s;
    cursor: pointer; 
}

.bouton2 :after {
    position: absolute;
    transition: 0.5s;
}
.bouton2:hover {
    background-color: #f7c2f9;
    color: black;
}

/* -------------------- Page Sondage -------------------- */

.connected{
    transform: translateY(-75%);
}

.titre{
    text-align: center;
    transform:translateY(-200%);
}

.bar{
    padding: 1em;
    background-color: blanchedalmond;
    height: 2em;
    width: 100%;
    margin-left: -1em;
    margin-bottom: 2em;
    border:solid 2px;
}

.btn_bar{
    position: relative;
    left:92%;
    width: 10%;
    transform:translateY(-150%) translateX(-25%);
    cursor: pointer;

}

.creer_sondage, .liste_sondage_user{
    border-radius: 1em;
    border: solid 3px;
    width: 40%;
    height: 75%;
    min-width: 40%;
    min-height: 75%;
    align-items: center;
    background-color: blanchedalmond;
    overflow: auto;
}

.creer_sondage{
    position: relative;
    top: 39%;
    left: 10%;
    transform: translateX(-10%)translateY(-50%);
    text-align: right;
}

.creer_sondage label{
    font-size:25px ;
}

.creer_sondage input{
    width: 80%;
    padding: 12px;
    border: 1px solid;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 10px;
    margin-bottom: 14px;
}


.creer_sondage input[type=submit]{
    transform: translateX(-10%);
    text-align: center;
}

.creer_sondage legend, .liste_sondage_user legend{
    text-align: center;
    background-color: black;
    color: #fff;
    padding: 3px 6px;
}

.liste_sondage_user{
    position: relative;
    left:90%;
    text-align: center;
    transform: translateX(-90%)translateY(-100%);
}

.liste_sondage_user input{
    width: 80%;
}


.bouton3 {
    background-color: red;
    border-radius: 10px;
    border: 4px double #cccccc;
    color: #eeeeee;
    text-align: center;
    font-size: 35px;
    padding: 3px;
    width: 30%;
    transition: all 0.5s;
    cursor: pointer;
    margin: 0px;
    transform: translateX(50%);
}

.bouton3 :after {
    transition: 0.5s;
}
.bouton3:hover {
    background-color: #f7c2f9;
    color: black;
}
.bouton3:hover:after {
    opacity: 1;
}

.contenu{
    width: 100%;
    min-width: 100%;
}

.former_sondage input {
    cursor: pointer;
}

.logo_sondage{
    left: 50%;
    transform: translateX(-50%)translateY(-80%);
    width: 230px;
    height: 115px;
    position: absolute;
    
}

/* -------------------- Page Admin -------------------- */

legend {
    background-color: #000;
    color: #fff;
    padding: 3px 6px;
} 

.liste_participant{
    background-color: blanchedalmond;
    border-radius: 1em;
    border: solid 3px;
    width: 30%;
    height: 30%;
    position: relative;
    top: 50%;
    left: 50%;
   transform: translateX(-150%)translateY(-0%);
   align-items: center;
}
input[type=text]:focus {
    border: 3px solid #555;
}

input{
    width: 100%;
    padding: 12px;
    border: 1px solid ;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 10px;
    margin-bottom: 14px;
    font-size: 100%;
    font-size: 100%;
}

.js-copy{
    margin-bottom: 0;
    cursor: pointer;
}

.essai.prev::before {
    content:"";
    position:absolute;left:-25px;top:0;
    
    /* taille */  
    height:0;width:0; 
    
    /* les bordures */
    border-right:36px solid #AAAAAA;
    border-bottom:18px solid transparent;
    border-top:18px solid transparent;
}

.legend_sondage{
    text-align: center;
    color: red;
    right: 50%;
}

span {
    border: 2px solid #ccc;
    padding: 0.5rem;
    background: #fff;
  }

  .btn_deco{
    position: relative;
    left:92%;
    width: 10%;
    transform:translateY(-340%) translateX(-25%);
    cursor: pointer;

}

.btn_retour{
    position: relative;
    left:15%;
    width: 10%;
    transform:translateY(-150%) translateX(-25%);
    cursor: pointer;

}


.plein{
    background-color: green;
    border:solid 1px green;
    border-radius: 0.5em;
}

.logo_admin{
    left: 50%;
    transform: translateX(-50%)translateY(-155%);
    width: 230px;
    height: 115px;
    position: absolute;
    
}

/* -------------------- Page Partipant -------------------- */

caption /* Titre du tableau */
{
    margin: auto; /* Centre le titre du tableau */
    font-family: Arial, Times, "Times New Roman", serif;
    font-weight: bold;
    font-size: 1.2em;
    color: #009900;
    margin-bottom: 20px; /* Pour éviter que le titre ne soit trop collé au tableau en-dessous */
}

table /* Le tableau en lui-même */
{
    background-color: blanchedalmond;
    margin: auto; 
    border: 4px outset green; 
    border-collapse: collapse;
    width:100%;
}
th /* Les cellules d'en-tête */
{
    background-color: #006600;
    color: white;
    font-size: 1.1em;
    font-family: Arial, "Arial Black", Times, "Times New Roman", serif;
    border:1px solid red;
}

td /* Les cellules normales */
{
    border: 1px solid black;
    font-family: "Comic Sans MS", "Trebuchet MS", Times, "Times New Roman", serif;
    text-align: center; /* Tous les textes des cellules seront centrés*/
    padding: 5px; /* Petite marge intérieure aux cellules pour éviter que le texte touche les bordures */
}

td.time
{
    width:5%;
}

.logo_participant{
    left: 50%;
    transform: translateX(-50%)translateY(-37%);
    width: 230px;
    height: 115px;
    position: absolute;
    
}

