a{
    text-decoration: none;
}


fieldset{
    font-size: 25px;
    box-shadow: 10px 5px 5px rgb(130, 139, 139);
}

input{
    width: 100%;
    padding: 12px;
    border: 1px solid ;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 10px;
    margin-bottom: 14px;
    font-size: 100%;
    font-size: 100%;
}

input[type="submit"] {
    cursor: pointer;
    margin: 0;
    width: 50%;
}

input[type=text]:focus {
    border: 3px solid #555;
  }

 
  
/* ------------------------ Connexion.php ------------*/

.connexion{
    background-color: blanchedalmond;
    border-radius: 1em;
    border: solid 3px;
    width: 30%;
    height: 40%;
    position: relative;
    top: 50%;
    left: 50%;
   transform: translateX(-50%)translateY(-50%);
   align-items: center;
}

.bouton {
    /* display: inline-block; */
    background-color: red;
    border-radius: 10px;
    border: 4px double #cccccc;
    color: #eeeeee;
    text-align: center;
    font-size: 30px;
    padding: 3px;
    width: 50%;
    transition: all 0.5s;
    cursor: pointer;
    margin: 0px;
    transform: translateX(50%)translateY(-0%);
    }


.bouton :after {
    /* content: '\00bb'; */
    position: absolute;
    transition: 0.5s;
}
.bouton:hover {
    background-color: #f7c2f9;
}
.bouton:hover:after {
    opacity: 1;
}


/* -------------------- Inscription -------*/

.inscription{
    background-color: blanchedalmond;
    border-radius: 1em;
    border: solid 3px;
    width: 30%;
    height: 65%;
    position: relative;
    top: 50%;
    left: 50%;
   transform: translateX(-50%)translateY(20%);
   align-items: center;
}


  input{
    width: 100%;
    padding: 12px;
    border: 1px solid ;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 10px;
    margin-bottom: 14px;
    font-size: 100%;
    font-size: 100%;
  }

.bouton2 {
    background-color: red;
    border-radius: 10px;
    border: 4px double #cccccc;
    color: #eeeeee;
    text-align: center;
    font-size: 35px;
    padding: 3px;
    width: 50%;
    transition: all 0.5s;
    cursor: pointer;
    margin: 0px;
    transform: translateX(50%)translateY(-0%);
    }


.bouton2 :after {
    /* content: '\00bb'; */
    position: absolute;
    transition: 0.5s;
}
.bouton2:hover {
    background-color: #f7c2f9;
}
.bouton2:hover:after {
    opacity: 1;
}

/* ------------- Page Sondage ----------------*/


.connected{
    transform: translateY(-75%);
}

.titre{
    text-align: center;
    transform:translateY(-200%);
}

.bar{
    padding: 1em;
    background-color: blanchedalmond;
    height: 2em;
    width: 100%;
    margin-left: -1em;
    margin-bottom: 2em;
    border:solid 2px;
}

.btn_bar{
    position: relative;
    left:92%;
    width: 15%;
    transform:translateY(-245%);

}


.creer_sondage, .liste_sondage_user{
    border-radius: 1em;
    border: solid 3px;
    width: 40%;
    height: 75%;
    min-width: 40%;
    min-height: 75%;
    align-items: center;
    background-color: blanchedalmond;
}

.creer_sondage{
    position: relative;
    top: 39%;
    left: 10%;
    transform: translateX(-10%)translateY(-50%);
    text-align: right;
}

.creer_sondage label{
    font-size:29px ;
}

.creer_sondage input{
    width: 80%;
    padding: 12px;
    border: 1px solid;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 10px;
    margin-bottom: 14px;
}


.creer_sondage input[type=submit]{
    transform: translateX(-10%);
    text-align: center;
}

.creer_sondage legend, .liste_sondage_user legend{
    text-align: center;
    background-color: black;
    color: #fff;
    padding: 3px 6px;
}

.liste_sondage_user{
    position: relative;
    left:90%;
    text-align: center;
    transform: translateX(-90%)translateY(-100%);
    
    overflow: auto;
}

.liste_sondage_user input{
    width: 80%;
}


.bouton3 {
    background-color: red;
    border-radius: 10px;
    border: 4px double #cccccc;
    color: #eeeeee;
    text-align: center;
    font-size: 35px;
    padding: 3px;
    width: 30%;
    transition: all 0.5s;
    cursor: pointer;
    margin: 0px;
    transform: translateX(50%);
}

.bouton3 :after {
    transition: 0.5s;
}
.bouton3:hover {
    background-color: #f7c2f9;
}
.bouton3:hover:after {
    opacity: 1;
}

.contenu{
    width: 100%;
    min-width: 100%;
}


/* --------------- Page Admin ------------- */

legend {
    background-color: #000;
    color: #fff;
    padding: 3px 6px;
} 

.liste_participant{
    background-color: blanchedalmond;
    border-radius: 1em;
    border: solid 3px;
    width: 30%;
    height: 30%;
    position: relative;
    top: 50%;
    left: 50%;
   transform: translateX(-150%)translateY(-0%);
   align-items: center;
}
input[type=text]:focus {
    border: 3px solid #555;
}

input{
    width: 100%;
    padding: 12px;
    border: 1px solid ;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 10px;
    margin-bottom: 14px;
    font-size: 100%;
    font-size: 100%;
}

.bouton_copier {
    font-family: sans-serif;
    background: #eee;
    padding: 0.5rem;
    border: 2px solid #eee;
}
.bouton_copier  {
    border: 2px solid #ccc;
    padding: 0.5rem;
    background: #fff;
}
.bouton_copier .js-copy {
    background: hotpink;
    color: white;
    padding: 0.5rem;
    border: 2px solid rebeccapurple;
    font-size: inherit;
}

.essai.prev::before {
    content:"";
    position:absolute;left:-25px;top:0;
    
    /* taille */  
    height:0;width:0; 
    
    /* les bordures */
    border-right:36px solid #AAAAAA;
    border-bottom:18px solid transparent;
    border-top:18px solid transparent;
}

/* --------------- Page Partipant ----------- */

caption /* Titre du tableau */
{
    margin: auto; /* Centre le titre du tableau */
    font-family: Arial, Times, "Times New Roman", serif;
    font-weight: bold;
    font-size: 1.2em;
    color: #009900;
    margin-bottom: 20px; /* Pour éviter que le titre ne soit trop collé au tableau en-dessous */
}

table /* Le tableau en lui-même */
{
    background-color: blanchedalmond;
    margin: auto; /* Centre le tableau */
    border: 4px outset green; /* Bordure du tableau avec effet 3D (outset) */
    border-collapse: collapse; /* Colle les bordures entre elles */
    width:100%;
}
th /* Les cellules d'en-tête */
{
    background-color: #006600;
    color: white;
    font-size: 1.1em;
    font-family: Arial, "Arial Black", Times, "Times New Roman", serif;
    border:1px solid red;
}

td /* Les cellules normales */
{
    border: 1px solid black;
    font-family: "Comic Sans MS", "Trebuchet MS", Times, "Times New Roman", serif;
    text-align: center; /* Tous les textes des cellules seront centrés*/
    padding: 5px; /* Petite marge intérieure aux cellules pour éviter que le texte touche les bordures */
}
td.time
{
    width:5%;
}


/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////btn choix*/
.btn_choix{
    border:none;
    text-decoration: none;
    color: black;
    background-color: blanchedalmond;
}

.btn_choix:hover{
    cursor: pointer;
    background-color: rebeccapurple;
}